<h1>Your kitten</h1>
<%= render partial: "kitten", locals: { kitten: @kitten } %>
<%= link_to 'Delete profile', kitten_path(@kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>